@{
    /**/

    ViewBag.PageTitle = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="register-container animated fadeInDown">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="well bordered-left bordered-themeprimary">
                <p> <strong>@ViewBag.PageTitle</strong> </p>
                <p></p>
                <p>
                    Please check your email to reset your password or click <a href=" @Session["callbackUrl"]">here</a> to reset password.
                    @ViewBag.Url
                   
                </p>
                <p></p>
            </div>
        </div>
    </div>
    </div>

