@{
    ViewBag.PageTitle = "Reset password confirmation";
    ViewBag.Description = "Reset password page";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="register-container animated fadeInDown">


    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="well bordered-left bordered-themeprimary">
                <p> <strong>@ViewBag.PageTitle</strong> </p>
                <p></p>
                <p> Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).</p>
                <p></p>
            </div>
        </div>
    </div>

    </div>


