
@model WAFC.Reports.Models.IndexReportViewModel
@{
    ViewBag.PageTitle = "Financial Reports";
    ViewBag.Description = "tooltips and notifications";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="pagination">
            @using (Html.Bootstrap().Begin(new Form().Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.DropDownListFor(a => a.Year, Model.FinYears, "--Select Year--", new { @class = "form-control", id = "Year", required = "required", title = "Select Financial Period" })
                @Html.ValidationMessageFor(model => model.FinYears, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Bootstrap().SubmitButton().Text("Filter").Color(BootstrapColors.Azure).HtmlAttributes(new { @class = "" })
                </div>

            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">

            <div class="widget-body">
                

                <table>
                    <!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="organizational structure- 2016b.gif" fwstyle="Dreamweaver" fwdocid = "2099604434" fwnested="0" -->
                    <tr>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="22" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="71" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="6" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="64" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="6" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="14" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="80" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="15" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="7" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="6" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="11" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="77" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="6" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="2" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="17" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="11" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="57" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="14" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="14" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="16" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="96" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="16" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="6" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="12" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="2" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="143" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="4" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="34" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="8" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="3" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="3" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="47" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="18" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="13" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="27" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="61" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="14" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="70" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="37" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="32" height="1" border="0" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="1" border="0" alt="" />
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="5" colspan="9" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="14">
                            <a href="~/Home/CRP?cname=All CRPs"><img style="display: block" name="organizationalstructure2016b_r1_c10" src="~/assets/img/organizational%20structure-%202016b_r1_c10.gif" width="266" height="38" border="0" id="organizationalstructure2016b_r1_c10" alt="" /></a>
                        </td>
                        <td rowspan="2" colspan="24" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="38" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="4">
                            <img style="display: block" name="organizationalstructure2016b_r2_c15" src="~/assets/img/organizational%20structure-%202016b_r2_c15.gif" width="36" height="49" border="0" id="organizationalstructure2016b_r2_c15" alt="" />
                        </td>
                        <td rowspan="2" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="33" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="5" colspan="5">
                            <a href="~/Home/CCode?cc=&amp;projectcode=NCSOODG3&amp;cname=Programme Development">
                                <img style="display: block" name="organizationalstructure2016b_r3_c28" src="~/assets/img/organizational%20structure-%202016b_r3_c28.gif" width="174" height="33" border="0" id="organizationalstructure2016b_r3_c28" alt="" />
                            </a>
                        </td>
                        <td rowspan="12" colspan="15" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="9" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r4_c21" src="~/assets/img/organizational%20structure-%202016b_r4_c21.gif" width="174" height="58" border="0" id="organizationalstructure2016b_r4_c21" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="10" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="7" colspan="7">
                            <a href="~/Home/CRP?cc=1101&amp;cname=Director General">
                                <img style="display: block" name="organizationalstructure2016b_r5_c14" src="~/assets/img/organizational%20structure-%202016b_r5_c14.gif" width="184" height="38" border="0" id="organizationalstructure2016b_r5_c14" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="5" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="9" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="6" colspan="6">
                            <a href="~/Home/CCode?cc=&amp;projectcode=NCSOODG2&amp;cname=Internal Audit">
                                <img style="display: block" name="organizationalstructure2016b_r6_c2" src="~/assets/img/organizational%20structure-%202016b_r6_c2.gif" width="174" height="33" border="0" id="organizationalstructure2016b_r6_c2" alt="" />
                            </a>
                        </td>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="5" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="6">
                            <img style="display: block" name="organizationalstructure2016b_r7_c8" src="~/assets/img/organizational%20structure-%202016b_r7_c8.gif" width="132" height="18" border="0" id="organizationalstructure2016b_r7_c8" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="7" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="4" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" colspan="5">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL085&amp;cname=Communications">
                                <img style="display: block" name="organizationalstructure2016b_r9_c28" src="~/assets/img/organizational%20structure-%202016b_r9_c28.gif" width="174" height="36" border="0" id="organizationalstructure2016b_r9_c28" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="7" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" colspan="6" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="9" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="1" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="6" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r12_c16" src="~/assets/img/organizational%20structure-%202016b_r12_c16.gif" width="19" height="50" border="0" id="organizationalstructure2016b_r12_c16" alt="" />
                        </td>
                        <td rowspan="3" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="10" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="9" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="31" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6" colspan="8">
                            <a href="~/Home/CRP?cc=2101&amp;cname=DDG - Finance &amp; Corporate Services">
                                <img style="display: block" name="organizationalstructure2016b_r15_c1" src="~/assets/img/organizational%20structure-%202016b_r15_c1.gif" width="209" height="55" border="0" id="organizationalstructure2016b_r15_c1" alt="" />
                            </a>
                        </td>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="6" colspan="10">
                            <a href="~/Home/CRP?et=GBL026&amp;cname=Asst. DG - Partnerships, Impact &amp; Extensions">
                                <img style="display: block" name="organizationalstructure2016b_r15_c12" src="~/assets/img/organizational%20structure-%202016b_r15_c12.gif" width="215" height="55" border="0" id="organizationalstructure2016b_r15_c12" alt="" />
                            </a>
                        </td>
                        <td rowspan="2" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="6" colspan="8">
                            <a href="~/Home/CRP?cc=1201&amp;cname=DDG Research">
                                <img style="display: block" name="organizationalstructure2016b_r15_c25" src="~/assets/img/organizational%20structure-%202016b_r15_c25.gif" width="209" height="55" border="0" id="organizationalstructure2016b_r15_c25" alt="" />
                            </a>
                        </td>
                        <td colspan="9" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="6" colspan="5">
                            <a href="~/Home/Mprojects?cc=2108&amp;cname=Director of Human Resources">
                                <img style="display: block" name="organizationalstructure2016b_r15_c42" src="~/assets/img/organizational%20structure-%202016b_r15_c42.gif" width="209" height="55" border="0" id="organizationalstructure2016b_r15_c42" alt="" />
                            </a>
                        </td>
                        <td rowspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="12" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r16_c9" src="~/assets/img/organizational%20structure-%202016b_r16_c9.gif" width="102" height="24" border="0" id="organizationalstructure2016b_r16_c9" alt="" />
                        </td>
                        <td rowspan="2" colspan="9">
                            <img style="display: block" name="organizationalstructure2016b_r16_c33" src="~/assets/img/organizational%20structure-%202016b_r16_c33.gif" width="128" height="24" border="0" id="organizationalstructure2016b_r16_c33" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r17_c22" src="~/assets/img/organizational%20structure-%202016b_r17_c22.gif" width="125" height="24" border="0" id="organizationalstructure2016b_r17_c22" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="18" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="9" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="10" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="5">
                            <img style="display: block" name="organizationalstructure2016b_r20_c33" src="~/assets/img/organizational%20structure-%202016b_r20_c33.gif" width="49" height="35" border="0" id="organizationalstructure2016b_r20_c33" alt="" />
                        </td>
                        <td rowspan="2" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="3" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r21_c3" src="~/assets/img/organizational%20structure-%202016b_r21_c3.gif" width="19" height="32" border="0" id="organizationalstructure2016b_r21_c3" alt="" />
                        </td>
                        <td colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="4">
                            <img style="display: block" name="organizationalstructure2016b_r21_c15" src="~/assets/img/organizational%20structure-%202016b_r21_c15.gif" width="36" height="32" border="0" id="organizationalstructure2016b_r21_c15" alt="" />
                        </td>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r21_c26" src="~/assets/img/organizational%20structure-%202016b_r21_c26.gif" width="193" height="32" border="0" id="organizationalstructure2016b_r21_c26" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r21_c43" src="~/assets/img/organizational%20structure-%202016b_r21_c43.gif" width="145" height="32" border="0" id="organizationalstructure2016b_r21_c43" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="32" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="41" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="5">
                            <a href="~/Home/CCode?cc=&amp;projectcode=NCSOCGO1&amp;cname=Contracts &amp; Grants">
                                <img style="display: block" name="organizationalstructure2016b_r22_c2" src="~/assets/img/organizational%20structure-%202016b_r22_c2.gif" width="160" height="26" border="0" id="organizationalstructure2016b_r22_c2" alt="" />
                            </a>
                        </td>
                        <td rowspan="15" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="12">
                            <a href="~/Home/CRP?cc=3113&amp;cname=Policy, Impact Accerelation, Extension">
                                <img style="display: block" name="organizationalstructure2016b_r22_c11" src="~/assets/img/organizational%20structure-%202016b_r22_c11.gif" width="235" height="26" border="0" id="organizationalstructure2016b_r22_c11" alt="" />
                            </a>
                        </td>
                        <td rowspan="41" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL075&amp;cname=Systems Science Domain (SD1)">
                                <img style="display: block" name="organizationalstructure2016b_r22_c24" src="~/assets/img/organizational%20structure-%202016b_r22_c24.gif" width="288" height="26" border="0" id="organizationalstructure2016b_r22_c24" alt="" />
                            </a>
                        </td>
                        <td rowspan="41" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="8">
                            <a href="~/Home/Regions?rid=WCA">
                                <img style="display: block" name="organizationalstructure2016b_r22_c32" src="~/assets/img/organizational%20structure-%202016b_r22_c32.gif" width="101" height="26" border="0" id="organizationalstructure2016b_r22_c32" alt="" />
                            </a>
                        </td>
                        <td rowspan="41" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3">
                            <a href="~/Home/Mprojects?cc=2103&amp;cname=HR Unit">
                                <img style="display: block" name="organizationalstructure2016b_r22_c41" src="~/assets/img/organizational%20structure-%202016b_r22_c41.gif" width="101" height="26" border="0" id="organizationalstructure2016b_r22_c41" alt="" />
                            </a>
                        </td>
                        <td rowspan="41" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3">
                            <a href="~/Home/CRP?et=GBL012&cname=BOT Secretary">
                                <img style="display: block" name="organizationalstructure2016b_r22_c45" src="~/assets/img/organizational%20structure-%202016b_r22_c45.gif" width="139" height="26" border="0" id="organizationalstructure2016b_r22_c45" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="26" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r23_c3" src="~/assets/img/organizational%20structure-%202016b_r23_c3.gif" width="19" height="11" border="0" id="organizationalstructure2016b_r23_c3" alt="" />
                        </td>
                        <td rowspan="2" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r23_c16" src="~/assets/img/organizational%20structure-%202016b_r23_c16.gif" width="19" height="11" border="0" id="organizationalstructure2016b_r23_c16" alt="" />
                        </td>
                        <td rowspan="2" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r23_c27" src="~/assets/img/organizational%20structure-%202016b_r23_c27.gif" width="20" height="15" border="0" id="organizationalstructure2016b_r23_c27" alt="" />
                        </td>
                        <td rowspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" name="organizationalstructure2016b_r23_c36" src="~/assets/img/organizational%20structure-%202016b_r23_c36.gif" width="3" height="8" border="0" id="organizationalstructure2016b_r23_c36" alt="" />
                        </td>
                        <td rowspan="2" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="40" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="40" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="3" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="5">
                            <a href="~/Home/CRP?cc=2105&amp;cname=ICT">
                                <img style="display: block" name="organizationalstructure2016b_r25_c2" src="~/assets/img/organizational%20structure-%202016b_r25_c2.gif" width="160" height="28" border="0" id="organizationalstructure2016b_r25_c2" alt="" />
                            </a>
                        </td>
                        <td rowspan="3" colspan="12">
                            <a href="~/Home/CRP?type=ee&et=GBL088&amp;cname=Capacity Development">
                                <img style="display: block" name="organizationalstructure2016b_r25_c11" src="~/assets/img/organizational%20structure-%202016b_r25_c11.gif" width="235" height="28" border="0" id="organizationalstructure2016b_r25_c11" alt="" />
                            </a>
                        </td>
                        <td rowspan="2" colspan="8">
                            <a href="~/Home/Regions?rid=ESA">
                                <img style="display: block" name="organizationalstructure2016b_r25_c32" src="~/assets/img/organizational%20structure-%202016b_r25_c32.gif" width="101" height="23" border="0" id="organizationalstructure2016b_r25_c32" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="4" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL071&amp;cname=Markets, Value Chains and Institutions (SD2)">
                                <img style="display: block" name="organizationalstructure2016b_r26_c24" src="~/assets/img/organizational%20structure-%202016b_r26_c24.gif" width="288" height="24" border="0" id="organizationalstructure2016b_r26_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="19" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r27_c36" src="~/assets/img/organizational%20structure-%202016b_r27_c36.gif" width="4" height="5" border="0" id="organizationalstructure2016b_r27_c36" alt="" />
                        </td>
                        <td rowspan="2" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="5" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r28_c3" src="~/assets/img/organizational%20structure-%202016b_r28_c3.gif" width="19" height="15" border="0" id="organizationalstructure2016b_r28_c3" alt="" />
                        </td>
                        <td rowspan="2" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="6" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r28_c17" src="~/assets/img/organizational%20structure-%202016b_r28_c17.gif" width="17" height="15" border="0" id="organizationalstructure2016b_r28_c17" alt="" />
                        </td>
                        <td rowspan="2" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r28_c27" src="~/assets/img/organizational%20structure-%202016b_r28_c27.gif" width="20" height="15" border="0" id="organizationalstructure2016b_r28_c27" alt="" />
                        </td>
                        <td rowspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="3" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="8">
                            <a href="~/Home/Regions?rid=SEA">
                                <img style="display: block" name="organizationalstructure2016b_r29_c32" src="~/assets/img/organizational%20structure-%202016b_r29_c32.gif" width="101" height="26" border="0" id="organizationalstructure2016b_r29_c32" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="12" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="5">
                            <img style="display: block" name="organizationalstructure2016b_r30_c2" src="~/assets/img/organizational%20structure-%202016b_r30_c2.gif" width="160" height="26" border="0" id="organizationalstructure2016b_r30_c2" alt="" />
                        </td>
                        <td rowspan="2" colspan="12">
                            <a href="~/Home/CRP?cc=2123&amp;cname=Protocol Services">
                                <img style="display: block" name="organizationalstructure2016b_r30_c11" src="~/assets/img/organizational%20structure-%202016b_r30_c11.gif" width="235" height="26" border="0" id="organizationalstructure2016b_r30_c11" alt="" />
                            </a>
                        </td>
                        <td rowspan="2" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL072&amp;cname=Tree Diversity, Domestication and Delivery (SD3)">
                                <img style="display: block" name="organizationalstructure2016b_r30_c24" src="~/assets/img/organizational%20structure-%202016b_r30_c24.gif" width="288" height="26" border="0" id="organizationalstructure2016b_r30_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r31_c36" src="~/assets/img/organizational%20structure-%202016b_r31_c36.gif" width="4" height="12" border="0" id="organizationalstructure2016b_r31_c36" alt="" />
                        </td>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="12" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="9" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="9" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r32_c3" src="~/assets/img/organizational%20structure-%202016b_r32_c3.gif" width="19" height="71" border="0" id="organizationalstructure2016b_r32_c3" alt="" />
                        </td>
                        <td rowspan="9" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="4" colspan="12" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r32_c27" src="~/assets/img/organizational%20structure-%202016b_r32_c27.gif" width="20" height="13" border="0" id="organizationalstructure2016b_r32_c27" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="8">
                            <a href="~/Home/Regions?rid=SA">
                                <img style="display: block" name="organizationalstructure2016b_r32_c32" src="~/assets/img/organizational%20structure-%202016b_r32_c32.gif" width="101" height="22" border="0" id="organizationalstructure2016b_r32_c32" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="13" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL076&amp;cname=Land Health Decisions (SD4)">
                                <img style="display: block" name="organizationalstructure2016b_r33_c24" src="~/assets/img/organizational%20structure-%202016b_r33_c24.gif" width="288" height="25" border="0" id="organizationalstructure2016b_r33_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="9" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="5">
                            <img style="display: block" name="organizationalstructure2016b_r34_c34" src="~/assets/img/organizational%20structure-%202016b_r34_c34.gif" width="16" height="8" border="0" id="organizationalstructure2016b_r34_c34" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="8">
                            <a href="~/Home/Regions?rid=LA">
                                <img style="display: block" name="organizationalstructure2016b_r35_c32" src="~/assets/img/organizational%20structure-%202016b_r35_c32.gif" width="101" height="26" border="0" id="organizationalstructure2016b_r35_c32" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="4" colspan="8">
                            <img style="display: block" name="organizationalstructure2016b_r36_c12" src="~/assets/img/organizational%20structure-%202016b_r36_c12.gif" width="187" height="27" border="0" id="organizationalstructure2016b_r36_c12" alt="" />
                        </td>
                        <td rowspan="27" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="3">
                            <img style="display: block" name="organizationalstructure2016b_r36_c27" src="~/assets/img/organizational%20structure-%202016b_r36_c27.gif" width="20" height="15" border="0" id="organizationalstructure2016b_r36_c27" alt="" />
                        </td>
                        <td rowspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="7" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="10" colspan="5">
                            <img style="display: block" name="organizationalstructure2016b_r37_c7" src="~/assets/img/organizational%20structure-%202016b_r37_c7.gif" width="129" height="81" border="0" id="organizationalstructure2016b_r37_c7" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL008,GBL078&amp;cname=Environmental Services (SD5)">
                                <img style="display: block" name="organizationalstructure2016b_r38_c24" src="~/assets/img/organizational%20structure-%202016b_r38_c24.gif" width="288" height="26" border="0" id="organizationalstructure2016b_r38_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="3" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="4">
                            <img style="display: block" name="organizationalstructure2016b_r39_c35" src="~/assets/img/organizational%20structure-%202016b_r39_c35.gif" width="8" height="9" border="0" id="organizationalstructure2016b_r39_c35" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="9" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="8">
                            <a href="~/Home/Regions?rid=ECA">
                                <img style="display: block" name="organizationalstructure2016b_r40_c32" src="~/assets/img/organizational%20structure-%202016b_r40_c32.gif" width="101" height="28" border="0" id="organizationalstructure2016b_r40_c32" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="5">
                            <a href="~/Home/CRP?cc=2102&amp;cname=Finance">
                                <img style="display: block" name="organizationalstructure2016b_r41_c2" src="~/assets/img/organizational%20structure-%202016b_r41_c2.gif" width="160" height="28" border="0" id="organizationalstructure2016b_r41_c2" alt="" />
                            </a>
                        </td>
                        <td rowspan="3" colspan="8">
                            <img style="display: block" name="organizationalstructure2016b_r41_c12" src="~/assets/img/organizational%20structure-%202016b_r41_c12.gif" width="187" height="28" border="0" id="organizationalstructure2016b_r41_c12" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" name="organizationalstructure2016b_r42_c28" src="~/assets/img/organizational%20structure-%202016b_r42_c28.gif" width="12" height="14" border="0" id="organizationalstructure2016b_r42_c28" alt="" />
                        </td>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL077&amp;cname=Climate Change (SD6)">
                                <img style="display: block" name="organizationalstructure2016b_r43_c24" src="~/assets/img/organizational%20structure-%202016b_r43_c24.gif" width="288" height="25" border="0" id="organizationalstructure2016b_r43_c24" alt="" />
                            </a>
                        </td>
                        <td rowspan="20" colspan="8" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="11" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="11">
                            <img style="display: block" name="organizationalstructure2016b_r44_c3" src="~/assets/img/organizational%20structure-%202016b_r44_c3.gif" width="13" height="99" border="0" id="organizationalstructure2016b_r44_c3" alt="" />
                        </td>
                        <td rowspan="11" colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="8" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="5" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="4" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r45_c13" src="~/assets/img/organizational%20structure-%202016b_r45_c13.gif" width="181" height="31" border="0" id="organizationalstructure2016b_r45_c13" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r46_c28" src="~/assets/img/organizational%20structure-%202016b_r46_c28.gif" width="14" height="14" border="0" id="organizationalstructure2016b_r46_c28" alt="" />
                        </td>
                        <td rowspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" colspan="5" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="3" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL084&amp;cname=Research Methods Group">
                                <img style="display: block" name="organizationalstructure2016b_r49_c24" src="~/assets/img/organizational%20structure-%202016b_r49_c24.gif" width="288" height="20" border="0" id="organizationalstructure2016b_r49_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="7">
                            <a href="~/Home/CCode?cc=&amp;projectcode=NCSOOPS2&amp;cname=Procurement">
                                <img style="display: block" name="organizationalstructure2016b_r50_c13" src="~/assets/img/organizational%20structure-%202016b_r50_c13.gif" width="181" height="27" border="0" id="organizationalstructure2016b_r50_c13" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="11" colspan="6">
                            <img style="display: block" name="organizationalstructure2016b_r51_c7" src="~/assets/img/organizational%20structure-%202016b_r51_c7.gif" width="135" height="117" border="0" id="organizationalstructure2016b_r51_c7" alt="" />
                        </td>
                        <td colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r51_c28" src="~/assets/img/organizational%20structure-%202016b_r51_c28.gif" width="14" height="17" border="0" id="organizationalstructure2016b_r51_c28" alt="" />
                        </td>
                        <td valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="17" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="7">
                            <a href="~/Home/CRP?type=ee&amp;et=GBL086&amp;cname=GeoScience Lab">
                                <img style="display: block" name="organizationalstructure2016b_r52_c24" src="~/assets/img/organizational%20structure-%202016b_r52_c24.gif" width="288" height="26" border="0" id="organizationalstructure2016b_r52_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="4" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="8" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r54_c13" src="~/assets/img/organizational%20structure-%202016b_r54_c13.gif" width="181" height="28" border="0" id="organizationalstructure2016b_r54_c13" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="4">
                            <a href="~/Home/CRP?cc=2104&amp;cname=Operations">
                                <img style="display: block" name="organizationalstructure2016b_r55_c2" src="~/assets/img/organizational%20structure-%202016b_r55_c2.gif" width="154" height="30" border="0" id="organizationalstructure2016b_r55_c2" alt="" />
                            </a>
                        </td>
                        <td rowspan="8" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="3" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td colspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r55_c27" src="~/assets/img/organizational%20structure-%202016b_r55_c27.gif" width="18" height="14" border="0" id="organizationalstructure2016b_r55_c27" alt="" />
                        </td>
                        <td colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="14" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="3" colspan="7">
                            <a href="~/Home/CRP?cc=3101&amp;cname=Knowledge Management Unit">
                                <img style="display: block" name="organizationalstructure2016b_r56_c24" src="~/assets/img/organizational%20structure-%202016b_r56_c24.gif" width="288" height="26" border="0" id="organizationalstructure2016b_r56_c24" alt="" />
                            </a>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="4" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r57_c13" src="~/assets/img/organizational%20structure-%202016b_r57_c13.gif" width="181" height="29" border="0" id="organizationalstructure2016b_r57_c13" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="12" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="10" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="4" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td rowspan="2">
                            <img style="display: block" name="organizationalstructure2016b_r59_c28" src="~/assets/img/organizational%20structure-%202016b_r59_c28.gif" width="12" height="13" border="0" id="organizationalstructure2016b_r59_c28" alt="" />
                        </td>
                        <td rowspan="2" colspan="2" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="7" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r61_c13" src="~/assets/img/organizational%20structure-%202016b_r61_c13.gif" width="181" height="27" border="0" id="organizationalstructure2016b_r61_c13" alt="" />
                        </td>
                        <td rowspan="2" colspan="7">
                            <img style="display: block" name="organizationalstructure2016b_r61_c24" src="~/assets/img/organizational%20structure-%202016b_r61_c24.gif" width="288" height="27" border="0" id="organizationalstructure2016b_r61_c24" alt="" />
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="21" border="0" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" valign="top">
                            <p style="margin: 0px"></p>
                        </td>
                        <td>
                            <img style="display: block" src="~/assets/img/spacer.gif" width="1" height="6" border="0" alt="" />
                        </td>
                    </tr>
                </table>



            </div>
        </div>
    </div>
</div>
